@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 0;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: #efefef;
  border: 1px #ccc solid;
  border-radius: 6px;
  height: 6px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -4px;
  background-color: #4f46e5;
  border: none;
  border-radius: 12px;
  width: 12px;
  height: 12px;
}

input[type="range"]::-moz-range-track {
  background-color: #efefef;
  border: 1px #ccc solid;
  border-radius: 6px;
  height: 6px;
}

input[type="range"]::-moz-range-thumb {
  background-color: #4f46e5;
  border: none;
  border-radius: 12px;
  width: 12px;
  height: 12px;
}